:root {
  --blue: #D9E9FA;
  --red: #FA4D6A;
  --white: #FFFFFF;
  --light-gray: #F2F2F2;
  --dark-gray: #3D3D3D;
  --gray: #D3D3D3;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: var(--light-gray);
  font-family: 'Nunito', sans-serif;
}

input:focus::placeholder {
  color: transparent;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.start-timer-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header"
    "form"
    "button";
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-header {
  grid-area: header;
  font-size: 3rem;
  text-shadow: .1rem .1rem var(--gray);
  color: var(--red);
}

.form {
  grid-area: form;
  flex-direction: column;
  align-items: center;
}

.label {
  display: block;
  font-size: 1.5rem;
  color: var(--red);
}

.user-input {
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 1rem;
  margin-top: 1rem;
  outline-color: var(--gray);
  box-shadow: .05rem .05rem var(--gray);
}

.button {
  grid-area: button;
}

.start-button,
.cancel-button {
  font-size: 1rem;
  height: 6rem;
  width: 6rem;
  border: none;
  border-radius: 5rem;
  color: var(--white);
  background-color: var(--red);
  box-shadow: .1rem .1rem var(--gray);
}

.cancel-button {
  animation: changecolor 4s infinite;
}

@keyframes changecolor {
  0% {
    color: var(--white);
  }
  20% {
    color: var(--white);
  }
  40% {
    color: var(--white);
  }
  61% {
    color: var(--black);
  }
  81% {
    color: var(--white);
  }
  100% {
    color: var(--white);
  }
}

.display-timer-section {
  display: none;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "display"
    "lights"
    "button";
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blinking-lights {
  grid-area: lights;
  display: flex;
  gap: 1rem;
}

.light {
  height: 3rem;
  width: 3rem;
  border: .05rem solid var(--black);
  border-radius: 10rem;
  list-style: none;
}

.time {
  grid-area: display;
  font-size: 2.5rem;
  color: var(--red);
  background-color: var(--light-gray);
}

@media screen and (min-width: 600px) {
  .start-timer-section,
  .display-timer-section {
    height: 700px;
    width: 450px;
    border: .1rem solid var(--dark-gray);
    border-radius: 3rem;
    border-left: .025rem solid var(--dark-gray);
    border-top: .025rem solid var(--dark-gray);
    box-shadow: .2rem .2rem .2rem var(--gray);
  }
}